name: Build And Release

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2019

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Build the project with MSBuild
      shell: cmd
      run: |
        "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" -t:restore
        "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" ChromeDevExtWarningPatcher.sln -p:Configuration=Release

    - name: Zip the builds
      shell: powershell
      run: |
        cd ChromeDevExtWarningPatcher\bin\Release;
        Compress-Archive -DestinationPath ChromeDevExtWarningPatcher.zip -Path ChromeDevExtWarningPatcher.exe,CommandLine.dll;
        dir;

    - uses: "Ceiridge/action-automatic-releases@v1.0.0" # actually made by marvinpinto
      if: ${{ github.event_name == 'push' && endsWith(github.ref, '/master') }} # don't release on pull requests
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: latest
        prerelease: true
        title: "Prerelease Build"
        files: |
          ChromeDevExtWarningPatcher/bin/Release/ChromeDevExtWarningPatcher.zip

    - uses: actions/upload-artifact@v2
      with:
        name: built-gui-binaries
        path: ChromeDevExtWarningPatcher/bin/Release/

    - uses: actions/upload-artifact@v2
      with:
        name: built-native-binaries
        path: x64/
